<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ShowTrackerConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=ShowTracker;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISTLoginService"/>
        <binding name="BasicHttpBinding_ISTLoginService1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52845/STLoginService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISTLoginService" contract="LoginRegisterServiceReference.ISTLoginService" name="BasicHttpBinding_ISTLoginService"/>
      <endpoint address="http://localhost:52845/STLoginService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISTLoginService1" contract="VenueLoginServiceReference.ISTLoginService" name="BasicHttpBinding_ISTLoginService1"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>